<!-- toastr -->
<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>

#if($!message)
    #if($status == "success")
    <script type="text/javascript">
        toastr.success('$message');
    </script>
    #elseif($status == "warning")
    <script type="text/javascript">
        toastr.warning('$message');
    </script>
    #elseif($status == "error")
    <script type="text/javascript">
        toastr.error('$message');
    </script>
    #else
    <script type="text/javascript">
        toastr.info('$message');
    </script>
    #end
#end