<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.springboot.cache.redis.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.sample.springboot.cache.redis.domain.OrderDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>

  <sql id="select">
    select * from `cache_redis_order`
  </sql>

  <sql id="delete">
    delete from `cache_redis_order`
  </sql>

  <select id="selectByUserId" resultMap="BaseResultMap">
    <include refid="select"/>
    <choose>
      <when test="userId!=null">
        where `user_id` = #{userId}
      </when>
      <otherwise>
        where `user_id` is null
      </otherwise>
    </choose>
  </select>

  <select id="selectByUserIds" resultMap="BaseResultMap">
    <include refid="select"/>
    <choose>
      <when test="userIds!=null and userIds.size()>0">
        where `user_id` in
        <foreach collection="userIds" item="item" index="index" open="(" separator="," close=")">
          #{item}
        </foreach>
      </when>
      <otherwise>
        where `user_id` is null
      </otherwise>
    </choose>
  </select>

  <delete id="deleteAll">
    <include refid="delete"/>
  </delete>

</mapper>